/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../images/bg.jpg') repeat #e1f0f6;
}


body{
	font:14px/1.3 'Open Sans Condensed', sans-serif;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	The Header
-----------------------------*/


header h1{
	text-align:center;
	font: normal 52px 'Playball', cursive;
	color:#518191;
	padding-top:60px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}


/*----------------------------
	The Cloud Background
-----------------------------*/

/*
#clouds{
	background:url('../images/cloud1.png') no-repeat;
	height: 145px;
	position: absolute;
	top: 250px;
	/*margin-left: -152px;*/
	width: 150px;
	z-index: -1;
}

#clouds:before{
	content:'';
	background:url('../images/cloud2.png') no-repeat;
	height: 102px;
	/*right: -100px;*/
	position: absolute;
	top: -125px;
	width: 156px;
}

#clouds:after{
	content:'';
	background:url('../images/cloud3.png') no-repeat;
	height: 74px;
	/*right: -50px;*/
	position: absolute;
	top: 325px;
	width: 114px;
}
*/

/*----------------------------
	The Weather Div
-----------------------------*/

/*
	#weather{
		position:relative;
		width:300px;
		height:300px;
		box-shadow: none !important;
	}
	
	#weather:before{
		background: url("../images/preloader.gif") no-repeat center center #111;
		border-radius: 50% 50% 50% 50%;
		height: 44px;
		opacity: 0.7;
		position: absolute;
		top: 50%;
		width: 44px;
	}
	
	#weather.error:before{
		display:none;
	}
	
	#weather.error{
		text-align:center;
		font-size: 20px;
	}
	
	
	#weather.loaded:before{
		display:none;
	}
	
	#weather.loaded{
		border-radius:3px;
	}
*/
/*
#weather.first a.previous,
#weather.last a.next{
	display:none;
}
*/

/*----------------------------
	The Scroller
-----------------------------*/



#scroller {
	position:relative;
	/*height:70%;*/
	display:inline-block;
	text-align:center;
}

#scroller  img{
	display:block;
	margin: 5px  0;
}

#scroller  .day{
	color:#dcf0f6;
	font-size:15px;
	padding-top: 20px;
	text-shadow:1px 1px 0 rgba(0,0,0,0.15);
}

#scroller  .day b{
	font-weight:normal;
	color:#0f3642;
}

#scroller  .cond{
	bottom: -52px;
	color: #424242;
	font-size: 24px;
	position: absolute;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 80%;
}

#scroller  .cond b{
	text-transform:uppercase;
}



/*------------------------------
	The Next/Previous arrows
-------------------------------*/




/*----------------------------
	The Location Div
-----------------------------*/


p.location{
	font-weight:bold;
	font-size:28px;
	color:#296c81;
	text-align:center;
}

p.location b{
	color:#569cb3;
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	background-color: #111111;
	bottom: 0;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
