.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {
	padding-top: 0;
	padding-bottom: 0;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    min-height: 67px;
    padding-left: 100px;
}
.ui-li-thumb, .ui-listview .ui-li-icon {
    max-height: 67px;
    max-width: 90px;
}

